@use "../variables.scss" as *;

.collapse-ctn {
  position: relative;
  min-height: 52px;
}

.title-collapse-ctn {
  position: absolute;
  top: 0px;
  height: 52px;
  width: 100%;
  padding: 10px 20px 10px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: $prm;
  color: $wht;
  display: flex;
  justify-content: space-between;
}

.title-collapse {
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.arrow-collapse-ctn {
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: 0.5s;
}

.content-collapse {
  position: relative;
  width: 100%;
  height: 0%;
  padding: 0px 20px;
  box-sizing: border-box;
  background-color: $lgt-gry;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.8s;
  font-size: 14px;
  line-height: 0px;

  &-deploy {
    height: 100%;
    padding: 77px 20px 20px 20px;
    line-height: 20px;
  }
}

@media (max-width: $mobile-size) {
  .collapse-ctn {
    min-height: 30px;
  }

  .title-collapse-ctn {
    height: 30px;
    padding: 0px 0px 0px 10px;
  }

  .title-collapse {
    font-size: 13px;
  }

  .arrow-collapse-ctn {
    height: 30px;
  }

  .arrow-collapse-ctn img {
    width: 16px;
  }

  .content-collapse {
    position: relative;
    min-height: 30px;
    padding: 55px 20px 0px 20px;
  }

  .content-collapse {
    padding: 0px 20px;
    font-size: 12px;

    &-deploy {
      height: 100%;
      padding: 50px 20px 20px 20px;
    }
  }
}
