@use "../variables.scss" as *;

footer {
  /*Position*/
  position: absolute;
  bottom: 0px;

  /*Dimensions*/
  height: 209px;
  width: 100%;

  /*Style*/
  background-color: $blk;
  color: $wht;
}

footer img {
  /*Position*/
  position: absolute;
  top: 66px;

  /*Dimensions*/
  width: 122px;
  height: fit-content;
}

footer span {
  /*Position*/
  position: absolute;
  top: 134px;

  /*Dimensions*/
  width: 513px;
  height: 46px;

  /*Texte*/
  font-size: 24px;
  text-align: center;

  /*Flex*/
  align-items: flex-end;
}

@media (max-width: $mobile-size) {
  footer span {
    /*Position*/
    top: 105px;

    /*Dimensions*/
    width: 134px;

    /*Texte*/
    font-size: 12px;
  }
}
