@use "../variables.scss" as *;

footer {
  position: absolute;
  bottom: 0px;
  height: 209px;
  width: 100%;
  background-color: $blk;
  color: $wht;
}

footer img {
  position: absolute;
  top: 66px;
  width: 122px;
  height: fit-content;
}

footer span {
  position: absolute;
  top: 134px;
  width: 513px;
  height: 46px;
  font-size: 24px;
  text-align: center;
  align-items: flex-end;
}

@media (max-width: $mobile-size) {
  footer span {
    top: 105px;
    width: 134px;
    font-size: 12px;
  }
}
