@use "../../variables.scss" as *;

header {
  height: 68px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100%;
}

.hd-btn-ctn {
  display: flex;
  gap: 57px;
}

@media (max-width: $mobile-size) {
  header {
    height: 47px;
  }

  .hd-btn-ctn {
    gap: 26px;
  }
}
