@use "../../variables.scss" as *;

.link {
  font-size: 24px;
  text-decoration: none;
  color: $blk;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

@media (max-width: $mobile-size) {
  .link {
    font-size: 12px;
    text-transform: uppercase;
  }
}
