@use "../../variables.scss" as *;

.log-ctn {
  /*Dimensions*/
  width: 100%;
  padding: 50px;
  box-sizing: border-box;

  /*Style*/
  background-color: $lgt-gry;
  border-radius: 25px;

  /*Flex*/
  flex-wrap: wrap;
  gap: 45px;
}

@media (max-width: $mobile-size) {
  .log-ctn {
    /*Dimensions*/
    padding: 0px;

    /*Style*/
    background-color: $wht;
  }
}
