@use "../../variables.scss" as *;

.log-ctn {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: $lgt-gry;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  row-gap: 45px;
  column-gap: 60px;
}

@media (max-width: $mobile-size) {
  .log-ctn {
    padding: 0px;
    background-color: $wht;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
