@use "./variables.scss" as *;

h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
}

.main-ctn {
  position: relative;
  padding: 45px 100px 50px;
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
}

.elm-ct {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ver {
  flex-direction: column;
}

.hor {
  flex-direction: row;
}

@media (max-width: $mobile-size) {
  .main-ctn {
    position: relative;
    padding: 20px;
  }
}
