$mobile-size: 800px;

* {
  /*Couleurs*/
  --prm: rgba(255, 96, 96, 1);
  --wht: rgba(255, 255, 255, 1);
  --lgt-gry: rgba(246, 246, 246, 1);
  --blk: rgba(0, 0, 0, 1);
  --toto: 800px;
}

.main-ctn {
  /*Position*/
  position: relative;
  padding: 45px 100px 50px;

  /*Dimensions*/
  width: 100%;
  max-width: 1440px;
  min-width: 335px;
  min-height: 100%;
  box-sizing: border-box;

  /*Flex*/
  display: flex;
  justify-content: center;
}

.elm-ct {
  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .main-ctn {
    /*Position*/
    position: relative;
    padding: 20px;
  }
}
