@use "../../variables.scss" as *;

.title-log {
  min-height: 51px;
  font-size: 36px;
  font-weight: 500;
  color: $prm;
  display: flex;
  align-items: center;
}

.loc-log {
  height: 26px;
  font-size: 18px;
  font-weight: 500;
  color: $blk;
  display: flex;
  align-items: center;
}

.title-ctn {
  display: flex;
}

@media (max-width: $mobile-size) {
  .title-log {
    min-height: 23px;
    font-size: 18px;
  }

  .loc-log {
    height: 22px;
    font-size: 14px;
  }
}
