@use "../variables.scss" as *;

.main-ctn-about {
  align-items: center;
  gap: 50px;
}

.about-collapses-ctn {
  max-width: 1023px;
  display: flex;
  gap: 50px;
}

@media (max-width: $mobile-size) {
  .about-collapses-ctn {
    gap: 20px;
  }
}
