@use "../variables.scss" as *;

.main-ctn-error {
  justify-content: start;
  gap: 139px;
}

.error {
  color: $prm;
  &-nb {
    font-size: 288px;
    font-weight: 700;
  }
  &-msg {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
  }
}

.hp-link {
  color: $blk;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}

@media (max-width: $mobile-size) {
  .main-ctn-error {
    gap: 113px;
  }

  .error {
    color: $prm;
    &-nb {
      font-size: 96px;
    }
    &-msg {
      font-size: 18px;
    }
  }

  .hp-link {
    font-size: 14px;
  }
}
