@use "../variables.scss" as *;

.main-ctn-log {
  box-sizing: border-box;
  gap: 50px;
}

.log-content {
  display: flex;
  gap: 30px;
}

.details-ctn {
  display: flex;
  justify-content: space-between;
}

.title-tag-ctn {
  display: flex;
  gap: 20px;
}

.owner-rate-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapses-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  column-gap: 76px;
  row-gap: 30px;
}

@media (max-width: $mobile-size) {
  .details-ctn {
    flex-direction: column;
    gap: 16px;
  }

  .title-tag-ctn {
    gap: 10px;
  }

  .owner-rate-ctn {
    flex-direction: row-reverse;
  }

  .collapses-ctn {
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    row-gap: 20px;
  }
}
