@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  position: relative;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
}

#root {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 209px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
